<% data = htmlWebpackPlugin.options.data %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui'>

    <title><%= data.name %></title>
    <meta name="description" content="<%= data.description %>">

    <!-- Colors on browser header (mobile) -->
    <meta content="<%= data.theme_color %>" name="theme-color">
    <meta content="<%= data.theme_color %>" name="msapplication-navbutton-color">
    <meta content="<%= data.theme_color %>" name="apple-mobile-web-app-status-bar-style">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= data.theme_color %>">
    <meta name="apple-mobile-web-app-title"            content="<%= data.theme_color %>">
    <link rel="apple-touch-icon" href="./icons/launcher/icon-152x152.png" sizes="152x152">

    <!-- Tile Icon for Windows -->
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileImage" content="./icons/launcher/icon-144x144.png">
    <meta name="msapplication-TileColor" content="<%= data.theme_color %>">

    <link rel="manifest" href="./manifest.json">
    <link rel="icon"     href="./icons/favicon.png" type="image/png">
  </head>

  <body>
    <div id="root">Loading</div>
  </body>
</html>
